div&attributes({
    "[ngClass]": "{'background-white': isHighlighted()}"
})
    div(id="{{ pagePart.name }}" class="container")

        h2 {{ data.header }}

        div&attributes({
            '*ngFor': 'let subPart of data.subParts'
        })
            hr

            h3 {{ subPart.header }}

            div(class="row")
                div(class="col-md-6")&attributes({
                    '*ngFor': 'let listItems of getListItemsColumns(subPart.listItems)'
                })
                    ul(class="no-bullets")&attributes({
                        '*ngIf': 'listItems.length > 0'
                    })
                        li&attributes({
                            '*ngFor': 'let listItem of listItems'
                        })
                            span(class="ability-title")
                                | {{ listItem.title }}
                            span(class="ability-score")
                                span(class="glyphicon glyphicon-star filled")&attributes({
                                    '*ngFor': 'let currentScore of [1,2,3,4,5]',
                                    '[class.filled]': 'currentScore <= listItem.score'
                                })

            div(class="text-center project-referal")&attributes({
                '*ngIf': 'subPart.projectInfo'
            })
                hr
                p {{ subPart.projectInfo.description }}
                a(class="btn btn-primary" target="_blank")&attributes({
                    '[attr.href]': 'subPart.projectInfo.url'
                }) {{ subPart.projectInfo.btnText }}