@import "../../../assets/scss/theme";

.navbar {
  border: 0;
  background: $theme-navbar-bg;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 110px;
  box-shadow: none;
  border-radius: 0;
  z-index: 999;
}

.navbar-collapse {
  padding: 0;
  max-height: none;
}

.nav {
  > li {
    display: block;
    float: none;
    height: 80px;

    a {
      display: block;
      height: 80px;
      text-align: center;
      padding-top: 30px;
      font-weight: 600;
      color: $theme-button-text-color;

      &:hover,
      &:focus {
        color: #999999;
      }
    }
  }
}

.navbar-nav {

  margin: 0;
  float: none;

  > .active > {
    a,
    a:hover,
    a:focus {
      background: $theme-button-bg;
      color: $theme-button-text-color;
    }
  }
}

.navbar-toggle {
  &:hover,
  &:focus {
    .icon-bar {
      background: $theme-navbar-bg;
    }
  }
}

@media (max-width: 767px) {

  .navbar {
    left: 0;
    width: 100%;

    .nav > li {
      height: 60px;

      a {
        height: 60px;
        text-align: center;
        padding-top: 20px;
        font-weight: 600;
        color: $theme-button-text-color;
      }
    }
  }
}