div(id="top" class="jumbotron")&attributes({'#jumbotron':''})
    div(class="container")
        h1 Prokofyev Alexander
        p(class="lead") Web developer

    div(class="overlay")

    a(href="#profile" class="scroll-down")
        span(class="glyphicon glyphicon-chevron-down")