div&attributes({
    "[ngClass]": "{'background-white': isHighlighted()}"
})
    div(id="profile" class="container")
        h2 Profile
        p(class="lead") I'm a PHP/JavaScript web developer
        hr

        div(class="row")
            div(class="col-md-4")
                h3 About me
                p
                    | I am a web developer with a ten years of professional experience as back-end (PHP, MySQL)
                    | and front-end (HTML, CSS, JavaScript, jQuery) programmer. Seven years of it is a remote work
                    | for clients from US.
                    | I have profound knowledge of developing web services and relational databases,
                    | experience in common third-party APIs.
                p
                    | My today priority is to grow as front-end developer
                    | (HTML5, CSS3, AngularJS2, TypeScript, Less, Sass).

            div(class="col-md-4 text-center")
                img(src="/assets/img/profile-photo.png" alt="Prokofyev Alexander" width="246" height="246")

            div(class="col-md-4")
                h3 Details
                p
                    strong Name:
                    br
                    |Prokofyev Alexander
                    br
                    strong Age:
                    br
                    |30 years
                    br
                    strong Location:
                    br
                    |Vladimir state, Russian Federation