div&attributes({
    "[ngClass]": "{'background-white': isHighlighted()}"
})
    div(id="experiences" class="container")

        h2 Experiences

        hr

        h3 Educations

        div(class="experiences")

            div(class="experience row")
                div(class="col-md-4")
                    h4 Vladimir State University
                    p(class="experience-period") September 2003 - June 2009

                div(class="col-md-8")
                    p
                        strong Information Technology
                        span(class="hidden-phone")
                            | Master of Engineering (M.Eng.)

                        span(class="experience-details")
                            span(class="location")
                                span(class="glyphicon glyphicon-map-marker")
                                | Internally

        hr

        h3 Careers

        div(class="experiences")

            div(class="experience row")
                div(class="col-md-4")
                    h4 iManageRent - Property management system
                    p(class="experience-period") March 2011 – April 2015

                div(class="col-md-8")
                    p
                        strong Web Developer

                        span(class="experience-details")
                            a(href="https://imanagerent.com/" target="_blank") https://imanagerent.com/
                            br
                            | Web development (PHP, JavaScript, MySQL, jQuery, Silex, Twig, third-party APIs)

            div(class="experience row")
                div(class="col-md-4")
                    h4 The Institute of Informatics Problems of The Russian Academy of Sciences
                    p(class="experience-period") August 2009 – June 2012

                div(class="col-md-8")
                    p
                        strong Experimental engineer

                        span(class="experience-details")
                            | Hardware development (VHDL).
                            | Web development (PHP, JavaScript, HTML, CSS, XML, XSLT)

            div(class="experience row")
                div(class="col-md-4")
                    h4 Gnosis Project System
                    p(class="experience-period") June 2007 – September 2008

                div(class="col-md-8")
                    p
                        strong Web Developer

                        span(class="experience-details")
                            | Project System support and functionality extension
                            | (Perl, MySQL, JavaScript, XML, HTML, CSS, DOM)

