div&attributes({
    "[ngClass]": "{'background-white': isHighlighted()}"
})
    div(id="experiences" class="container")

        h2 {{ data.header }}

        hr

        h3 {{ data.educationsHeader }}

        div(class="experiences")

            div(class="experience row")&attributes({
                '*ngFor': 'let education of data.educations'
            })
                div(class="col-md-4")
                    h4 {{ education.university }}
                    p(class="experience-period") {{ education.period }}

                div(class="col-md-8")
                    p
                        strong {{ education.faculty }}
                        span(class="hidden-phone")
                            | {{ education.qualification }}

                        span(class="experience-details")
                            span(class="location")
                                span(class="glyphicon glyphicon-map-marker")
                                | {{ education.location }}

        hr

        h3 {{ data.careersHeader }}

        div(class="experiences")

            div(class="experience row")&attributes({
                '*ngFor': 'let career of data.careers'
            })
                div(class="col-md-4")
                    h4 {{ career.company }}
                    p(class="experience-period") {{ career.period }}

                div(class="col-md-8")
                    p
                        strong {{ career.position }}

                        span(class="experience-details")
                            a(target="_blank")&attributes({
                                '*ngIf': 'career.siteUrl',
                                '[attr.href]': 'career.siteUrl'
                            }) {{ career.siteUrl }}
                            br&attributes({
                                '*ngIf': 'career.siteUrl'
                            })
                            | {{ career.role }}
