div&attributes({
    "[ngClass]": "{'background-white': isHighlighted()}"
})
    div(id="profile" class="container")

        h2 {{ data.header }}

        p(class="lead") {{ data.lead }}

        hr

        div(class="row")
            div(class="col-md-4")
                h3 {{ data.aboutMe.header }}
                p&attributes({
                    '*ngFor': 'let paragraph of data.aboutMe.paragraphs'
                }) {{ paragraph }}

            div(class="col-md-4 text-center")
                img(src="/assets/img/profile-photo.png" width="246" height="246")&attributes({
                    alt: '{{ data.detail.fullName }}'
                })

            div(class="col-md-4")
                h3 {{ data.detail.header }}
                p
                    strong {{ data.detail.fullNameLabel }}:
                    br
                    |{{ data.detail.fullName }}
                    br
                    strong {{ data.detail.ageLabel }}:
                    br
                    |{{ data.detail.age }}
                    br
                    strong {{ data.detail.locationLabel }}:
                    br
                    |{{ data.detail.location }}