div&attributes({
    "[ngClass]": "{'background-white': isHighlighted()}"
})
    div(id="abilities" class="container")

        h2 Abilities

        hr

        h3 Skills

        div(class="row")
            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        span(class="ability-title") PHP
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                    li
                        span(class="ability-title") JavaScript
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                    li
                        span(class="ability-title") MySQL
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") HTML (5)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") CSS (3)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Node.js
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")

            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        span(class="ability-title") jQuery
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Silex (PHP micro-framework)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Twig (template engine for PHP)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Laravel (PHP framework)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") AngularJS
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Express (framework for Node.js)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")

        div(class="text-center project-referal")
            p This project is build on Node.js, AngularJS and Twitter Bootstrap.
            a(href="https://github.com/ProkofyevAlexander/personal-page" class="btn btn-primary" target="_blank")
                | See project on GitHub

        hr

        h3 Languages

        div(class="row")
            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        span(class="ability-title") Russian (Mother tongue)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                    li
                        span(class="ability-title") English (Intermediate)
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")

        hr

        h3 Tools

        div(class="row")

            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        span(class="ability-title") PhpStorm
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                    li
                        span(class="ability-title") SVN
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Git
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Gulp
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")

            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        span(class="ability-title") Selenium IDE
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Selenium WebDriver
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Vagrant
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                    li
                        span(class="ability-title") Adobe Photoshop
                        span(class="ability-score")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star filled")
                            span(class="glyphicon glyphicon-star")
                            span(class="glyphicon glyphicon-star")
