div(class="background-gray")

    div(id="contact" class="container")

        h2 Contact

        hr

        div(class="row")
            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        a(href="https://www.linkedin.com/in/prokofyev-alexander-b2104b36" target="_blank")
                            span(class="icon icon-linkedin")
                            |linkedin.com/in/prokofyev-alexander-b2104b36

            div(class="col-md-6")
                ul(class="no-bullets")
                    li
                        a(href="mailto:ur.liam@veyfokorp.a.a")
                            span(class="icon icon-email")
                            span(style="unicode-bidi:bidi-override; direction: rtl;") ur.liam@veyfokorp.a.a

        hr

        div(class="text-center")